@font-face {
  font-family: 'w95fa';
  src: url('./fonts/w95fa.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'w95fa', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.draggable {
  -webkit-app-region: drag;
  height: 32px;
  width: 100%;
}

/* loading bar */
#status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#progress-bar {
  height: 8px;
  background: linear-gradient(270deg, black, white);
  background-size: 100% 100%;
  animation: gradient 2s ease infinite;
  width: 0%;
  transition: width 0.5s ease;
}

/* header */
header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
header > :nth-child(1),
header > :nth-child(2) {
  grid-column: 1;
}
header > :nth-child(3) {
  max-width: 120px;
  grid-column: 2;
  grid-row: 1 / span 2; /* Make it span both rows */
}

/* header logo */
header section.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
header section.logo img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
/* spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header section.logo img.spin {
  animation: spin 0.75s ease-in-out infinite;
}

/* toolbar */
header section.tool-bar {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
}
header section.tool-bar select,
header section.tool-bar button {
  width: 100%;
  max-width: 128px;
  height: 32px;
  padding: 8px;
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 0;
  font-size: 12px;
  outline: none;
}
header section.tool-bar select:focus {
  outline: none;
  border-color: black;
}
header section.tool-bar button {
  width: fit-content;
  border-right: 0;
  background-color: white;
  color: black;
  cursor: pointer;
}
#add-bookmark {
  border-right: 1px solid black;
  border-left: 0;
}

/* search bar */
header section.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
header section.search-bar label {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
}
header section.search-bar input {
  width: 100%;
  height: 32px;
  padding: 8px;
  border: 1px solid black;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
  font-size: 12px;
}
header section.search-bar input:focus {
  outline: none;
  border-color: black;
}
header section.search-bar button {
  width: 64px;
  height: 32px;
  padding: 10px;
  background-color: black;
  font-size: 14px;
  color: white;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
}
header section.search-bar button:hover {
  cursor: pointer;
}

/* content */
.content {
  width: 100%;
  height: calc(100% - 70px);
}
.content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
